.card {
    margin: 20px 0;
}

.book-title {
    display: inline-block;
}

.view, .save {
    float: right;
    margin: 0 0 0 10px;
}

.book-img {
    float: left;
    margin: 0 25px 25px 0;
    max-width: 128px;
}